.key {
  border-radius: 5px;
  background-color: var(--color-calc-key);
  border-width: 0px;
  margin: 9px 7px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Spartan", sans-serif;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  box-shadow: 0px 4px var(--color-calc-key-shadow);
  vertical-align: middle;
  text-align: center;
  padding: 17px 0;
}

.key-func {
  background-color: var(--color-func-key);
  box-shadow: 0px 4px var(--color-func-key-shadow);
  font-size: 18px;
  color: var(--color-calc-key);
  font-weight: 100;
  padding: 22px 0;
}

.key-equals {
  background-color: var(--color-equals-key);
  box-shadow: 0px 4px var(--color-equals-key-shadow);
  color: var(--color-calc-key);
  font-size: 18px;
  font-weight: 100;
  padding: 22px 0;
}

/* Grid rows*/
.gr1 {
  grid-row: 1;
}

.gr2 {
  grid-row: 2;
}

.gr3 {
  grid-row: 3;
}

.gr4 {
  grid-row: 4;
}

.gr5 {
  grid-row: 5;
}

/* Grid columns */
.gc1 {
  grid-column: 1;
}

.gc2 {
  grid-column: 2;
}

.gc3 {
  grid-column: 3;
}

.gc4 {
  grid-column: 4;
}

/* Grid column spans */
.gc1-span {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.gc2-span {
  grid-column-start: 2;
  grid-column-end: span 3;
}

.gc3-span {
  grid-column-start: 3;
  grid-column-end: span 4;
}
