.keypad {
  --row-width: 75px;
  --row-height: 77px;
  display: grid;
  grid-template-columns: var(--row-width) var(--row-width) var(--row-width) var(
      --row-width
    );
  grid-template-rows:
    var(--row-height) var(--row-height) var(--row-height) var(--row-height)
    var(--row-height);
  margin: 0 auto;
  border-radius: 13px;
  background-color: var(--color-keypad-background);
  padding: 15px 15px 20px 15px;
  max-width: 420px;
}
